{% extends "shop/base.html" %}
{% load static %}

{% block title %}Your shoping cart{% endblock title %}

{% block content %}

<h1 class="text-center text-4xl text-pink-500 p-2 ">Your shoping cart</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Image
              </th>
              <th scope="col" class="px-6 py-3">
                  Product
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Quantity
              </th>
              <th scope="col" class="px-6 py-3">
                  Remove
              </th>
              <th scope="col" class="px-6 py-3">
                  Unit price
              </th>
              <th scope="col" class="px-6 py-3">
                  Price
              </th>
          </tr>
      </thead>
      <tbody>
      {% for item in cart %}
      {% with product=item.product %}
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                <a href="{{ product.get_absolute_url }}">
                  <img src="
                  {% if product.image %}
                    {{ product.image.url }}
                  {% else %}
                    {% static "img/no_image.png" %}  
                  {% endif %}
                  " class="w-[150px] h-[150px] object-contain">
                </a>
              </th>
              <td class="px-6 py-4">
                {{ product.name }}
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.override }}
                  <input type="submit" value="Update" class="px-2 py-1 bg-purple-800 rounded-e-md hover:bg-purple-600">
                  {% csrf_token %}
                </form>
              </td>
              <td class="px-6 py-4">
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                  <input type="submit" value="Remove" class="px-3 py-2 text-black font-bold bg-red-600 rounded-lg hover:bg-red-400">
                  {% csrf_token %}
                </form>
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                ${{ item.price }}
              </td>
              <td>
                ${{ item.total_price }}
              </td>
          </tr>
          {% endwith %}
          {% endfor %}
          <tr class="border-b border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  dark:text-white">
              Total
            </th>
            <td colspan="4" class="px-6 py-4">
                  
            </td>
            <td class="px-6 py-4">
              ${{ cart.get_total_price }}
            </td>
            </tr>
      </tbody>
  </table>
</div>
<br>
<p>
  <a href="{% url "shop:product_list" %}" class="px-3 py-2 text-white font-bold bg-blue-600  hover:bg-blue-400 rounded-s-lg">Continue shopping</a>
  <a href="{% url "orders:order_create" %}" class="px-3 py-2 text-white font-bold bg-green-600  hover:bg-green-400  rounded-s-lg">Checkout</a>
</p>
{% endblock content %}