<!DOCTYPE html>
{% load static %}
{% load tailwind_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <title>{% block title %}My Shop{% endblock title %}</title>
</head>
<body class="bg-slate-900 text-white">

  <div id="header" class="text-center text-5xl py-2 ">
    <a href="/" id="logo">My Shop</a>
  </div>

  <div id="subheader" class="bg-teal-900 p-2 flex ">
    <div id="cart" class="text-xl text-amber-500 ms-auto pe-2">
      {% with total_items=cart|length %}
        {% if total_items > 0 %}
            Your cart:
          <a href="{% url "cart:cart_detail" %}" class="text-blue-500 hover:text-blue-400 hover:underline">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
          </a>
        {% elif not order %}
          Your cart is empty.
        {% else %}
          Your cart.
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div id="content" class="w-11/12 mx-auto my-2">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>